#grid-container {
	position: relative;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	white-space: nowrap;
}

/**
* The grid view for a contender in a sporting event, such as
* horse racing, football team, cricket team.
**/
.grid-view {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	border: none;
	width: 75%;
}

.grid-view td {
	width: 35px;
	text-align: justify;
	font-weight: bold;
	border: 1px solid #D6D6D6;
	padding: 5px;
}

.grid-view td:nth-child(5) {
	border-right: 1px solid #a6a6a6;
}

.grid-view td:nth-child(6) {
	background-color: #BCE4FC;
	border: 1px solid #a6a6a6;
}

.grid-view td:nth-child(7) {
	background-color: #FCC9D3;
	border: 1px solid #a6a6a6;
}

.grid-view img {
	float: left;
}

.grid-cell {
	cursor: pointer;
}

.grid-cell:hover {
	background: #DFDFDF;
}

.grid-cell:nth-child(2), .grid-cell:nth-child(11) {
	opacity: 0.5;
}

.grid-cell:hover:nth-child(6) {
	background: #75C2FD;
}

.grid-cell:hover:nth-child(7) {
	background: #F694AA;
}

.grid-cell span:nth-child(1) {
	width: 100%;
	float: left;
	text-align: center;
	font-size: small;
}

.grid-cell span:nth-child(2) {
	width: 100%;
	float: left;
	clear: both;
	text-align: center;
	font-size: x-small;
	font-weight: normal;
}

.grid-runner-details {
	padding: 2px;
}

.grid-runner-details img {
	cursor: url('../icons/faq.png'), auto;
}

.grid-runner-details span:nth-child(2) {
	float: left;
	margin-left: 5px;
}

.grid-runner-details span:nth-child(3) {
	float: right;
	font-size: small;
	font-weight: normal;
}

.grid-pl {
	clear: both;
	font-size: small;
	text-align: center;
}

.grid-pl span:nth-child(1) {
	cursor: pointer;
}

.grid-pl span:nth-child(2) {
	margin-left: 10%;
}

.grid-non-runner {
	opacity: 0.5;
}

#grid-header {
	background-color: #000000;
	background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
	color: #fff;
}

#grid-header h1 {
	display: block;
	font-size: 1.4em;
	text-align: center;
	font-weight: bold;
}

#one-click-btn {
	float: right;
	background-color: Transparent;
	background-repeat: no-repeat;
	border: 2px solid #fff;
	color: #fff;
	padding: 5px;
}

#one-click-btn:focus{border-color:red;}

#one-click-stake button, #one-click-liability button {
	border: 2px solid #000;
	border-radius: 8px;
	padding: 5px;
	margin: 5px;
	font: inherit;
	font-size: 0.7em;
	font-weight: bold;
	cursor: pointer;
	outline: inherit;
}

#one-click-stake button:first-child, #one-click-liability button:first-child {
	width: 10%;
}

#one-click-stake button:not(:first-child), #one-click-liability button:not(:first-child) {
	color: #000;
	font-weight: bold;
	background-repeat: no-repeat;
	width: 6%;
}

#one-click-stake button {
	background: #DBEFFF;
}

#one-click-liability button {
	background: #FEE9EE;
}

.in-play {
	float: left;
	padding-block-end: 5px;
	padding-inline-start: 5px;
}

.in-play span {
	padding-right: 5px;
}

.grid-video {
	float: right;
	padding: 5px;
	cursor: pointer;
}

#matched-bets {
	float: right;
	padding-inline-end: 5px;
}

#grid-subheader {
	border-collapse: collapse;
    margin: 0;
    padding: 0;
    border: 0;
    border-spacing: 0;
}

#grid-subheader th:nth-child(n+2) {
	background: #BCE4FC;
}

#grid-subheader th:nth-child(n+6) {
	background: #FCC9D3;
}

#market-cashout span:nth-child(2) {
	cursor: pointer;
	font-size: small;
	font-weight: bold;
	float: right;
	line-height: 20px;
}

/** GRID ORDER ROW **/

.grid-order-row {
	margin: 0;
	font-size: small;
	text-align: center;
}

.grid-order-row li {
	float: left;
	list-style-type: none;
	height: 100%;
	background: #fff;
    border: 1px dashed;
	margin: 0 5px 0 0;
	width: 5%;
	cursor: pointer;
}

.grid-order-row li:first-child {
	width: 10%;
}

.grid-img-container {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.grid-order-row img {
	vertical-align: middle;
}

.grid-order-row input[type=text] {
	width: 6%;
}

.grid-order-row input[type=number] {
	width: 6%;
}

.toggle-back-lay {
	cursor: pointer;
}

#suspended-message {
	margin: auto;
	width: 10%;
    position: absolute;
    top: 25%;
    left: 33.3%;
	border: 3px solid #B30011;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: small;
	color: #B30011;
	cursor: pointer;
}