#grid-container {
	/*width: 100%;*/
}

/**
* The grid view for a contender in a sporting event, such as
* horse racing, football team, cricket team.
**/
.grid-view {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	border: none;
	width: 90%;
	height: 40%;
}

.grid-view td {
	width: 7%;
	text-align: center;
	font-size: 0.8;
	font-weight: bold;
	border: 1px solid #D6D6D6;
}

.grid-view td:nth-child(1) {width: 30%;}
.grid-view td:nth-child(6){background-color: #BCE4FC;}
.grid-view td:nth-child(7){background-color: #FCC9D3;}

.grid-view img {
	float: left;
}

.grid-cell {
	cursor: pointer;
}

.grid-cell:hover {
	background: #DFDFDF;
}

.grid-cell span:nth-child(1) {
	width: 100%;
	float: left;
	text-align: center;
}

.grid-cell span:nth-child(2) {
	width: 100%;
	float: left;
	clear: both;
	text-align: center;
	font-size: small;
	font-weight: normal;
}

.grid-runner-details {
	padding: 5px;
}

.grid-runner-details img {
	cursor: url('../icons/faq.png'), auto;
}

.grid-runner-details span:nth-child(2) {
	float: left;
	font-weight: normal;
	margin-left: 5px;
}

.grid-runner-details span:nth-child(3) {
	float: right;
	font-size: small;
	font-weight: normal;
}

.grid-runner-details span:nth-child(4) {
	float: left;
	clear: both;
	color: #01CC41;
	margin-left: 10%;
}

.grid-runner-details span:nth-child(5) {
	float: right;
	clear: right;
	font-size: small;
	font-weight: normal;
}

#grid-header {
	background: #303030;
	color: #fff;
}

#grid-header img:nth-child(2) {
	float: right;
}

#grid-header span:nth-child(1) {
	float: right;
}

#grid-header span:nth-child(4) {
	margin: 3px;
	float: left;
}

#grid-header img:nth-child(5) {
	margin: 3px;
	float: left;
}

#grid-header span:nth-child(6) {
	margin: 3px;
	float: right;
}

#grid-subheader {
	border-collapse: collapse;
    margin: 0;
    padding: 0;
    border: 0;
    border-spacing: 0;
}

#grid-subheader th:nth-child(n+2) {
	background: #BCE4FC;
}

#grid-subheader th:nth-child(n+7) {
	background: #FCC9D3;
}

/** GRID ORDER ROW **/

.grid-order-row {
	margin: 0;
	display: block;
	font-size: small;
}


.grid-order-row li {
	text-decoration: none;
	float: left;
	list-style-type: none;
	height: 100%;
	background-color: Transparent;
	background: #fff;
    background-repeat: no-repeat;
    border: 1px dashed;
	margin: 0 5px 0 0;
	width: 5%;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.grid-order-row li:first-child {
	width: 10%;
}

.grid-img-container {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.grid-order-row img {
	vertical-align: middle;
}

.grid-order-row input[type=text] {
	width: 6%;
}

.grid-order-row input[type=number] {
	width: 6%;
}

.execute-order-btn {
}