.ladder-container {
	position: absolute;
	height: 100%;
	overflow-x:scroll;
	overflow-y: hidden;
	white-space:nowrap;
}

.odds-table {
	position: relative;


    width: 24%;
    height: 100%;
	float: left;
	padding: 0;
	border: 2px solid #d8d9d9;
}

/** 
* Ladder View Detail
* Top part of the ladder view where the details of the contender is displayed.
**/
.ladder-header {

}

.contender-name {
	font-size: 1em;
	text-align: left;
	color: #350505
}

.contender-image {
	vertical-align: middle;
}

.contender-odds {
	color: rgb(106, 177, 79);
	font-weight: bold;
	text-align: left;
	display: block;
}

/**
* The ladder view for a contender in a sporting event, such as
* horse racing, football team, cricket team.
**/
.ladder {
	position: relative;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	height: 75%;
}

.ladder-header {
	display: inline-block;
	width: 100%;
	height: 5%;
}

.ladder table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	table-layout: fixed;
	border: 1px solid;
    width: 100%;
}

.ladder td:nth-child(3){background-color: #FCC9D3;}
.ladder td:nth-child(4) {
	font-weight: bold;
	background: #BBBBBB;
}
.ladder td:nth-child(5){background-color: #BCE4FC;}

.ladder tr:not(:first-child) td:not(:first-child) {
	text-align: center;
	font-size: 0.8em;
	border: 1px solid;
	padding: 2px;
	cursor: pointer;
	width: 20%;
	overflow: hidden;
}

.candle-stick-col {
	border-right: 2px solid;
	background-color: #d1d9e6
}

.ladder th {
	position: sticky;
	top: 0;
	padding: 0;
}

.order-row {
	bottom: 0;
	height: 15%;
	background: #fff;
	display: block;
	overflow-y: scroll;
	width: 100%;
	float: left;
}

.order-row td:nth-child(1), .order-row td:nth-child(3) {
	width: 40%;
}

.order-row td:nth-child(2) {
	top: 0;
	position: absolute;
	background: orange;
	height: 100%;
	width: 20%;
}

.order-row table {
	border-collapse: collapse;
	table-layout: fixed;
	border: 1px solid;
	position: relative;
	margin: 0 auto;
	padding: 0;
}

.order-row td {
	width: 20%;
	margin: 0;
	padding: 0;
}

.order-row button {
	display: block;
	width: 100%;
	height: 33.33%;
	background-color: Transparent;
	background-repeat: no-repeat;
	border: 1px solid;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.order-row button:nth-child(1) {
	background: silver;
}

.order-row button:nth-child(2) {
	background: gold;
}

.order-row button:nth-child(3) {
	background: crimson;
}

/** LAY TABLE **/

.lay-table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	white-space: nowrap;
}

.lay-table tr {
	width: 30px;
	border-bottom: 1px solid;
}

.lay-table td {
	width: 30px;
	border-bottom: 1px solid;

	text-align: center;
	overflow: scroll;
}

.lay-table tr:nth-child(odd) {
	width: 100%;
	background: #FCC9D3;;
}

/** PERCENTAGE ROW **/

.percentage-row td:first-child {
	width: 28.5714%;
	padding: 0;
	float: left;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 0%),
				radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
	color: #fff;
	overflow: hidden;
	text-align: left;
	border-bottom: 2px solid;
}

.percentage-row td:first-child span {
	font-size: small;
}


.percentage-row td:not(:first-child) {
	width: 14.28572%;
	padding: 0;
	border: none;
	float: left;
	overflow: hidden;
}

.percentage-row td:nth-child(1), .percentage-row td:nth-child(2),
.percentage-row td:nth-child(3), .percentage-row td:nth-child(4), .percentage-row td:nth-child(5) {
	/* border-right: 1px solid; */
}

/** PRICE ROW **/

.price-row {
	position: sticky;
	bottom: 0;
	display: table;
	width: 750%;
	background: #fff;
}

.price-row td {
	position: sticky;
	display: inline-block;
	border: 2px solid gray;
	width: 11.7%;
}