.tg  {
	border-collapse: collapse;
	border-spacing:0;
}
.tg td {
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:black;
}
.tg th {
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:black;
}
.tg .tg-0pky{
	border-color:inherit;
	text-align:left;
	vertical-align:top
}

table {
	height: 100%;
	float: left;
	margin: 5px;
	border: 5px solid #000;
}

table td {
	border: 2px solid #000;
}

td:nth-child(1) {  
  /*border-style: none;*/
}


.ladder-header td {
	border-color:yellow;
}

.ladder-header th {
	border-color:yellow;
}