html,
body,
#root,
#root>div {
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

@font-face {
	font-family: "Segoe";
	src: url("../fonts/SegoeUI.ttf");
}

.root {
	display: flex;
}

.noselect {
	-webkit-user-select: none;
	user-select: none;
}

#spinner {
	position: fixed;
	top: 50%;
	left: 50%;
}