html, body, #root, #root > div {
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

p, span, h1 {
	font-family: 'Roboto', sans-serif;
}

.root {
	display: flex;
}

.content {
	width: 100%;
	height: 100vh;
}

.sticky {
	position: sticky;
	top: 0;
}

.box {
	display: flex;
	align-items:center;
 }

 ::-webkit-scrollbar {
    display: none;
}