.marketstats-container {
    padding: 2%;   
}

.marketstats-title {
    height: 20%; 
    background-color: #26c281; 
    color: white; 
    padding-left: 1%; 
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    font-size: 1.5em; 
    font-weight: bold;
}

.marketstats-info-container {
    padding-left: 1%; 
    display: flex; 
    flex-direction: column; 
    height: 80%; 
    justify-content: center; 
    border: solid 2px #53dda4; 
    border-top: none;
}

.marketstats-info-marketName {
    font-size: 1.5em; 
    margin-bottom: 0.5rem; 
    font-family: "Open Sans";
}

.marketstats-info-created-at {
    color: gray; 
    font-weight: 200;
}

.marketstats-info-back-button {
    margin-top: 2%; 
    background-color:  #26c281; 
    width:  max-content; 
    padding: 0.75% 1%; 
    text-decoration: none; 
    color: white;
    cursor: pointer;
}

.marketstats-tables {
    width: 100%; 
    height: 60%; 
    margin-top: 1.5%; 
    display: flex; 
    justify-content: space-between;
}

/*The whole thing, including the title*/
.marketstats-table-container {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1200px) {
    .marketstats-table-container {
        width: 100%;
        margin-top: 1%;
    }
    
    .marketstats-tables {
        
        flex-direction: column;
    }
}

/*Just the table part*/
.marketstats-table-wrapper {
    height: 100%; 
    border: solid 2px #92a4ba; 
    border-top: none;
}

.marketstats-table-win-result {
    display: inline-block; 
    min-width: 40%; 
    padding: 3px; 
    border-radius: 3px; 
    text-align: center; 
    color: white; 
}

.marketstats-table-backlay-bet {
    padding: 2px; 
    padding-left: 4px;
    width: 20%;
    border-radius: 2px;
    margin-right: 2%;
    display: inline-block;
    color: white;
}