html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

aside {
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

#nav-body-ctrls {
    background-color: #2a2a2a;
    font-family: arial
}

#nav-tabs-container {
    flex: 1;
    width: 100%;
    height: 36px;
    position: relative;
}

#nav-body-tabs {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2a2a2a 75%, #404040);
    font-family: arial
}

#nav-tabs-collapse {
    position: absolute;
    left: 90%;
    z-index: 2;
    transform: rotate(180deg);
}

#nav-body-views {
    flex: 1
}

.nav-icons {
    fill: #fcfcfc !important
}

.nav-icons:hover {
    fill: #c2c2c2 !important
}

#nav-ctrls-back,
#nav-ctrls-forward,
#nav-ctrls-reload {
    height: 30px;
    width: 30px;
    margin-right: 10px
}

#nav-tabs-add {
    margin: 5px
}

.nav-tabs-tab {
    border-radius: 2px;
    height: 35px
}

.nav-tabs-tab.active {
    background: #404040
}

.nav-tabs-favicon {
    margin: 6px
}

.nav-tabs-title {
    padding-left: 5px;
    font-style: normal;
    font-weight: 700;
    color: #fcfcfc
}

.nav-tabs-title:hover {
    color: #c2c2c2
}

.nav-tabs-close {
    width: 20px;
    height: 20px;
    margin: 6px;
    margin-left: 2px
}

.nav-tabs-close:hover {
    fill: #dc143c !important
}
