#all-sports {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	border: none;
	width: 90%;
    height: 40%;
}

#all-sports tr {
    color: #0000FF;
}

#all-sports ul {
    z-index: 1;
    
}

.MuiTypography-body1 {
	font-size: 0.8rem !important;
}