.sidebar {
	width: 20%;
}

#sidebar-header p, #sidebar-header span {
	color: #fff;
}

#date-time, #flag-name {
	margin: 0;
}

#logout {
	padding: 0;
	border: none;
	background: none;
	float: right;
}

#sidebar-header {
	background: #057C9C;
	padding: 5px;
}

#toolbar button {
	width: 20%;
}

#sidebar-event-section-1 {
	background: green;
}

#sidebar-event-section-1 span:nth-child(1) {
	float: left;
}

#sidebar-event-section-1 span:nth-child(2) {
	float: left;
	clear: left;
}

#sidebar-event-section-2 {
	height: 150%;
	margin: 0 auto;
	display: block;
	float: right;
	background: #303030;
	color: #fff;
	border-radius: 10px;
	padding: 5px;
	font-size: xx-large;
	font-weight: bold;
}

#sidebar-event-section-3 {
	width: 100%;
	background: #98CBD9;
	float: left;
	clear: left;
	margin-top: 4px;
}

.toggle-button {
	width: 33.33%;
	background: #000;
	color: #fff;
	font-size: large;
	font-weight: bold;
}

#menu-ladder {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	table-layout: fixed;
	border: none;
	margin: 0 auto;
	width: 100%;
	height: auto;
}

#menu-ladder tr:nth-child(n+1) td {
	border: 1px solid #D6D6D6;
	text-align: center;
}

#menu-ladder td:nth-child(1) {
	width: 60%;
	font-size: small;
}

#menu-ladder td:nth-child(n+2) {
	width: 20%;
	font-size: small;
}

#menu-ladder td:nth-child(2) {
	background: #FCB3C1;
}

#menu-ladder td:nth-child(4) {
	background: #90D2FB;
}

#menu-ladder input[type="checkbox"] {
	border: 1px solid #333;
	content: "\00a0";
	display: inline-block;
	font: 16px/1em sans-serif;
	height: 16px;
	margin: 0 .25em 0 0;
	padding: 0;
	vertical-align: top;
	width: 16px;
}

#menu-profit-loss {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	table-layout: fixed;
	border: none;
	margin: 0 auto;
	width: 100%;
	height: auto;
}

#menu-profit-loss tr:nth-child(n+1) {
	border: 3px solid #D6D6D6;
	border-top: 0px;
}

#menu-profit-loss td:nth-child(1) {
	width: 60%;
	font-size: small;
}

#menu-profit-loss td:nth-child(n+2) {
	width: 40%;
	font-size: small;
}

#menu-profit-loss tr:nth-child(2n) {
	background: #D9D9D9;
}

#menu-market-info {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	table-layout: fixed;
	border: none;
	margin: 0 auto;
	width: 100%;
	height: auto;
}

#menu-market-info tr:nth-child(n+1) {
	border: 3px solid #D6D6D6;
	
}

#menu-market-info td:nth-child(1) {
	width: 60%;
	font-size: small;
}

#menu-market-info td:nth-child(n+2) {
	width: 40%;
	font-size: small;
}

#menu-market-info tr:nth-child(2n) {
	background: #D9D9D9;
	font-weight: bold;
}

#menu-selected-name {
	background: #7F7F7F;
	height: 1.5em;
	padding-top: 0px;

}

#menu-selected-name > td {
	color: white;
	padding: 0px;
	border: 0px;
}

#menu-graph img {
	width: 100%;
}