.sidebar {
	width: 16.5rem;
    max-width: 100%;
    overflow-x: hidden;
}

#sidebar-header p, #sidebar-header span {
	color: #fff;
}

#date-time, #flag-name {
	margin: 0;
}

#logout {
	padding: 0;
	border: none;
	background: none;
	float: right;
	cursor: pointer;
}

#sidebar-header {
	background-color: #000000;
	background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
	padding: 5px;
	font-weight: bold;
}

#toolbar button {
	width: 20%;
}

#sidebar-event {
	background-color: #b8c6db;
	background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

#sidebar-event h6 {
	font-size: medium;
}

#sidebar-event-section-1 {
	padding: 5px;
}

#sidebar-event-section-1 span:nth-child(1) {
	float: left;
}

#sidebar-event-section-1 span:nth-child(2) {
	float: left;
	clear: left;
}

#sidebar-event-section-2 {
	margin: 0 auto;
	display: block;
	float: right;
	background: #303030;
	color: #fff;
	border-radius: 10px;
	padding: 5px;
	font-size: large;
	font-weight: bold;
}

#sidebar-event-section-3 {
	width: 100%;
	background: #98CBD9;
	float: left;
	clear: left;
	margin-top: 4px;
}

.toggle-button {
	width: 33.33%;
}

#menu-profit-loss {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	table-layout: fixed;
	border: none;
	margin: 0 auto;
	width: 100%;
	height: auto;
}

#menu-profit-loss tr:nth-child(n+1) {
	border: 3px solid #D6D6D6;
	border-top: 0px;
}

#menu-profit-loss td:nth-child(1) {
	width: 60%;
	font-size: small;
}

#menu-profit-loss td:nth-child(n+2) {
	min-width: 40%;
	font-size: small;
}

#menu-profit-loss tr:nth-child(2n) {
	background: #D9D9D9;
}

#menu-selected-name {
	background: #7F7F7F;
	height: 1.5em;
	padding-top: 0px;

}

#menu-selected-name > td {
	color: white;
	padding: 0px;
	border: 0px;
}

.popup-live-stream {
	border: 1px solid;
	padding: 5px;
}

.popup-graph {
	background: #fff;
	border: 1px solid;
	padding: 10px;
}

.popup-graph img:nth-child(2) {
	width: 400px;
	height: 300px;
}

.popup-graph span {
	font-size: small;
	font-weight: bold;
}

.close-popup-graph {
	float: right;
	cursor: pointer;
}

.popup-graph-toggle-transparency {
	text-align: center;
	background: none!important;
	border: none;
	padding: 0!important;
	margin-left: 10%;
	font-family: arial, sans-serif;
	color: #069;
	text-decoration: underline;
	cursor: pointer;
}

#menu-graph img {
	width: 100%;
}

/* UNMATCHED BETS */

.menu-bets {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	table-layout: fixed;
	border: none;
	margin: 0 auto;
	width: 100%;
	height: auto;
}

.menu-bets-heading {
	background: #ff6600;
}

.menu-bets-heading > td {
	padding: 2px;
}

.menu-bets-event {
	width: 400%;
	background: #6f6f1f;
	display: inline-block;
	color: white;
}


.menu-bets-selection {
	display: inline-block;
	width: 400%;
	background: rgb(0, 111, 223);
	color: rgb(223, 223, 0);
}

.menu-bets-selection > td {
	padding: 2px;
}

#pl-style {
	font-weight: bold;
}

#menu-unmatched-bet td, #menu-matched-bet td {
	font-size: small;
}

.MuiAppBar-root {
	border: none !important;
}